{% extends 'shop/base_shop.html'%}
{% load rest_framework %}
 
	<h1>HI</h1>
 
{% block title %}
		
	Update Product
{% endblock %}


{% block content %}
<div class="features">
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 30%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>
	<form style="font-size:100%;width:30%"  action="{{product.get_update_url}}" method='post'>
		{% csrf_token %}
	 {%render_form serializer%}
	<div class="form-group">
<button type="submit" class="btn btn-primary">Сохранить</button>
	
	</div>
	
        </form>
{{s}}</br>

</div>
{% endblock %} 

<!--{flat.get_absolute_url}-->
