{% extends 'shop/base_shop.html'%}
  {% load mptt_tags %}
	<h1>HI</h1>
 
{% block title %}
		
	Categories
{% endblock %}


{% block content %}
<div class="features">
	

<ul>
    {% recursetree categories %}
        <li>	 
            <a href="{{node.get_absolute_url}}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                   <a href="{{children.get_absolute_url}}"> {{ children }}</a>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
	

 <a class="btn btn-info" href="{%url 'category_front_create_url'%}" role="button">Новая категория</a>
</div>
{% endblock %} 

