{% extends 'shop/base_shop.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Детализация категории
{% endblock %}


{% block content %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Названия {{category.name}}</li>
		<li class="list-group-item">Родительская категории {{category.parent}}</li>
		<li class="list-group-item">Подкатегории </br>{% for cat in category.get_children%}<a href="{{cat.get_absolute_url}}"> {{cat.name}}</a></br>{%endfor%}</li>

	</div>

	{% if request.user.is_authenticated %}
		<div class="obj-panel">
			 <p>Выбрать</p>
				 {% block obj-panel%}
					<a class="btn btn-light" href="{{category.get_update_url}}">Редактировать</a>
					<a class="btn btn-danger" href="{{category.get_delete_url}}">Del</a>
					<a class="btn btn-light" href="{{category.parent.get_absolute_url}}">Вернуться в родительскую категорию</a>
					<a class="btn btn-light" href="{% url 'categories_front_list_url'%}">Вернуться к списку</a>
				 {%endblock%}
		</div>
	{% endif%}


{% endblock %} 

<!--{flat.get_absolute_url}-->
