{% extends 'shop/base_shop.html'%}
{% load rest_framework %}
 
	<h1>HI</h1>
 
{% block title %}
		
	Create Category
{% endblock %}


{% block content %}
<div class="features">
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 50%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>
	<form style="font-size:100%;width:30%"  action="{{category.get_absolute_url}}" method='post'>
		{% csrf_token %}
		{%render_form serializer%}
		<button type="submit" class="btn btn-primary">Сохранить</button>
	</form>
{{s}}</br>

</div>
{% endblock %} 

<!--{flat.get_absolute_url}-->
