{% extends 'shop/base_shop.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Детализация товара
{% endblock %}


{% block content %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Названия {{product.name}}</li>
		<li class="list-group-item">Категория {{product.category}}</li>
		<li class="list-group-item">Цена {{product.price}}</li>
		<li class="list-group-item">Размер {{product.size}}</li>
		<li class="list-group-item">Длина {{product.length}}</li>
		<li class="list-group-item">Вес {{product.weight}}</li>
		<li class="list-group-item">Описание {{product.descryption}}</li>
		<details><summary>Все товары в категории</summary>

		<li class="list-group-item">
			{% for pr in category.get_products%}<a href="{{pr.get_absolute_url}}"> {{pr.name}}</a></br>{%endfor%}</li>
		</details>
	</div>

	{% if request.user.is_authenticated %}
		<div class="obj-panel">
			 <p>Выбрать</p>
				 {% block obj-panel%}
					<a class="btn btn-light" href="{{product.get_update_url}}">Редактировать</a>
					<a class="btn btn-danger" href="{{product.get_delete_url}}">Del</a>
					<a class="btn btn-light" href="{{product.parent.get_absolute_url}}">Вернуться в родительскую категорию</a>
					<a class="btn btn-light" href="{% url 'products_front_list_url'%}">Вернуться к списку</a>
				 {%endblock%}
		</div>
	{% endif%}

	 <form action="{% url 'cart:cart_add' product.id %}" method="post">
		 {{ cart_product_form }}
		 {% csrf_token %}
		 <input type="submit" value="Добавить в корзину">
	 </form>

{% endblock %} 

<!--{flat.get_absolute_url}-->
